/*MENU TOPHEADER*/
.topheader {
  position: fixed;
  background-color: #51d1f6;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a {
  text-decoration: none;
  padding: 15px 20px;
  color: blue;
}

.Menu-Horizontal li a:hover {
  color: red;
}
.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 200px;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  list-style: none;
  color: black;
}

.Menu-Vertical li {
  background-color: #00ffff;
}
/*SECCION PROMOCION*/
.seccion-promo {
  padding: 60px 20px;
  background-color: White;
}
.div-gral-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

/*FORMULARIO*/
.seccion-formulario {
  background-color: cyan;
  padding: 40px;
  border: 3px solid magenta;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-cont-formulario {
  background-color: greenyellow;
  padding: 30px;
  border: 2px solid coral;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.campo {
  background-color: rgb(218, 97, 17);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid purple;
  border-radius: 5px;
}

.formulario label {
  display: block;
  color: aquamarine;
  font-weight: 600;
  margin-bottom: 8px;
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1.5px solid red;
  border-radius: 3px;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 8px;
  background-color: antiquewhite;
  border: 1px solid #51d1f6;
  border-radius: 2px;
}

.formulario button {
  background-color: pink;
  border: 2px solid #00ffff;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
